* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 99%;
  height: 99vh;
  align-items: center; /* Vertical */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contentHolder{
  width: 800px;
  border: #ded9d9 solid 1px;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  background-color: #dfdada;
  border-radius: 10px;
}
.numberHolder {
  display: flex;
  flex-grow: 3;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.ButtonHolder {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}
.item {
  width: 30%;
  height: 30%;
  padding: 5px;
  text-align: center;
  line-height: 144px;
  color: white;
  font-size: 35px;
}
.buttonStyle {
  padding: 8px 20px;
  background-color: #6bb5b5;
  border-radius: 4px;
  color: black;
  border-color: #dfdada;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
}

/* Tablet style */
@media screen and (max-width: 960px) {
}


/* Phone style */
@media screen and (max-width: 650px) {
.contentHolder {
flex-direction: column-reverse;
}

.ButtonHolder {
padding: 10px;
text-align: center;
}

.buttonStyle {
padding: 8px 20px;
border-radius: 4px;
color: black;
display: inline;
align-items: center;
float: none;
clear: none;
width: 20%;
margin-bottom: 0px;
}


.item {
flex-flow: column;
flex: 1 0 100%;
height: 20%;
line-height: 50px;
position:relative;
margin-bottom: 5px;
font-size: 25px;
}
.item:after {
content:'\A';
position:absolute;
background:white;
top:0; bottom:0;
left:0; 
width:2%;
}

.item.one:after {
background: #000000;
}

.item.two:after {
background: #2bbead;
}

.item.three:after {
background:#333333;
}

.item.four:after {
background: #6f98a8;
}
.item.five:after {
background: #11a536;
}
.item.six:after {
background: #b40a0a;
}
.item.seven:after {
background: #633434;
}.item.eight:after {
background: #2f454e;
}.item.nine:after {
background: #72c3dc;
}

.item.one,
.item.two,
.item.three,
.item.four,
.item.five,
.item.six,
.item.seven,
.item.eight,
.item.nine {
background-color: #b5bcc2;
color: #000;
}

}


.one {
background: #000000;
}
.two {
background: #2bbead;
}
.three {
background: #333333;
}
.four {
background: #6f98a8;
}
.five {
background: #11a536;
}
.six {
background: #b40a0a;
}
.seven {
background: #633434;
}
.eight {
background: #2f454e;
}
.nine {
background: #72c3dc;
}